@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}

.main_wrap {
  margin-top: 2rem;
}

.user_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    color: #1abc9c;
    font-size: 60px;
  }

  h3 {
    font-size: 18px;
    color: #1abc9c;
  }
}

.user {
  .input_wrap {
    position: relative;
    margin-top: 0.5rem;

    i {
      font-size: 30px;
      color: #f6f3f3;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      color: #1abc9c;
      border: none;
      width: 100%;
      padding: 0.25rem 0;
      border-top: 1px solid #1abc9c;
      border-bottom: 1px solid #1abc9c;
      font-size: 16px;
      padding-left: 0.7rem;
      background: transparent;
    }

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 90%;
    }

    p {
      position: absolute;
      top: 0;
      right: 0;
      color: #ec5051;
    }
  }

  .submit {
    width: 70%;
    background: #1abc9c;
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 18px;
    color: #fff;
    margin: 0.5rem auto;
  }
}

